div {
    text-align: center;
}

.square {
    fill: white;
    stroke: black;
    stroke-width: 1;
}

.color {
    stroke: black;
    stroke-width: 1;
}

.hovered {
    filter: brightness(90%);
}

.colorClicked {
    filter: brightness(80%);
}

#dropdown {
    background-color: #12a3b8;
    border: 3;
}

.container {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.subContainer {
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}